// Site-specific UI

body { background: $platinum; }

header {
	.brand {
		height: 80px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		img {
			height: 100%; display: inline-block;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		@include breakpoint(large) {
		    height: 60px;
		}
	}
}

.off-canvas-content { box-shadow: none; }

section {
	padding-top: 40px;
	// @extend .margin-bottom-20;
}

.title-bar-right .menu-icon {
	width: 25px;
    // height: 0px;
    margin-top: 30px;
    &:after { height: 4px; }
}

// Orbit Fixes

ul.orbit-container {
    height: auto !important;
}
li.orbit-slide {
    max-height: none !important;
}

.orbit .orbit-caption h2 {
	padding: 0 20px 0 20px;
	color: $white;
	@include breakpoint(medium) {
	    padding-top: 20%;
	}
	@include breakpoint(large) {
	    padding-top: 40%;
	}
}

.suggested-keywords a.button { margin: 10px; }

footer {
	@extend .padding-20;
}